html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Protest Strike", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: black;
}

#main {
  position: relative;
  width: 100%;
  height: 100%;
  color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/bg.jpeg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#main > div {
  position: relative;
  z-index: 1;
}

#main::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.7;
  z-index: 0;
}

.hero-text {
  text-align: center;
}

@media screen and (orientation: portrait) and (max-width: 600px) {
  #main {
    justify-content: flex-start;
    background-position: left center;
    background-position-x: 66%;
    padding-top: 2rem;
  }
}
